.tooltip {
  position: relative;
  cursor: pointer;
  display: inline-block;
}
.tooltip .tooltip__messenger {
  display: none;
  box-sizing: content-box;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  background-color: var(--color-bg-green);
  color: var(--color-text-white);
  font-family: notosans semibold;
  min-width: 120px;
  max-width: 150px;
  font-size: var(--size-text-xs);
  padding: var(--padding-8) var(--padding-12);
  border-radius: var(--border-radius);
  cursor: default;
}
.tooltip .tooltip__messenger::after {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  border-width: 8px 12px;
  border-style: solid;
  border-color: transparent;
  border-top-color: var(--color-bg-green);
  cursor: pointer;
}
.tooltip.tooltip__bottom .tooltip__messenger {
  top: unset;
  bottom: 0;
  transform: translate(-50%, 100%);
}
.tooltip.tooltip__bottom .tooltip__messenger::after {
  content: '';
  bottom: unset;
  top: 0;
  transform: translate(-50%, -100%);
  border-color: transparent transparent var(--color-bg-green) transparent;
}
.tooltip:hover .tooltip__messenger {
  display: block;
}
